body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;



  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation a {
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-left: 27px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 560px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  vertical-align: center ;
}

.user-navigation {
  width: 180px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation .trash-link {
position: relative;

}

.trash-link::before {
  content: "";

  position: absolute;

  width: 14px;
  height: 16px;
  top: 32px;
  left: -5px;


  background-image: url(../img/cart-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}


.site-navigation li a:hover,
.user-navigation li a:hover {
  color: #f96a6e;
}

.site-navigation li a:focus,
.user-navigation li a:focus {
  color: #a6a6a6
}

/* Слайдер */
.slider {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
}

.slider-controls {
  
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
 
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
  margin-bottom: 80px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}



/* -- */



.button-1 {
  background-color: #fb565a;
}

.button-2 {
  background-color: #00ca74;
}

.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.features h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.features p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.features-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
  margin-bottom: 80px;
}

.features-item {
  width: 300px;
}

.news {
  width: 660px;
}

.stats {
  width: 360px;
}

/* ---------- */

.grey-line {
 
  height: 2px;
  background-color: #e5e0e0;
  margin: 0 auto;
  margin-bottom: 40px;
}


/* ----------- */

.opportunity-list p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-left: -40px;
  margin-top: 40px;
}

.opportunity-list li {
  margin-top: 30px;
  list-style: none;
}

.opportunity-list {
  position: relative;
}

.opportunity-list li::before {
  content: "";

  position: absolute;

  width: 26px;
  height: 2px;
  left: 2px;

  background-color: #e74246;
  margin-top: 10px;
}

.stats-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: -20px;
}


.ability-list {
  width: 350px;
  
}

.ability-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.ability-list h4{
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.stats-min-text {
  font-size:24px;
  font-weight: 700;
}



.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}



.about h3 {
  font-size: 45px;
  line-height: 45px;
}

.project-item {
  width: 260px;
  align-items: center;

}

.project-item1 a {
  background: url(../img/logo-1.png);
  background-repeat: no-repeat;
    display: block;
    width: 199px; 
    height: 68px; 
    
}

.project-item2 a {
  background: url(../img/logo-2.png);
  background-repeat: no-repeat;
    display: block;
    width: 209px; 
    height: 90px; 
   
}

.project-item3 a {
  background: url(../img/logo-3.png);
  background-repeat: no-repeat;
    display: block;
    width: 185px; 
    height: 52px; 
}

.project-item4 a {
  background: url(../img/logo-4.png);
  background-repeat: no-repeat;
    display: block;
    width: 173px; 
    height: 84px; 
}


.project-item1 a:hover {
  background-image: url(../img/logo-1-black.png);
}

.project-item2 a:hover {
  background-image: url(../img/logo-2-black.png);
}

.project-item3 a:hover {
  background-image: url(../img/logo-3-black.png);
}
.project-item4 a:hover {
  background-image: url(../img/logo-4-black.png);
}

.project-item1 a:focus {
  background-image: url(../img/logo-1-focus.png);
}

.project-item2 a:focus {
  background-image: url(../img/logo-2-focus.png);
}

.project-item3 a:focus {
  background-image: url(../img/logo-3-focus.png);
}

.project-item4 a:focus {
  background-image: url(../img/logo-4-focus.png);
}

.projects-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
  margin-top: 44px;
}

/*.main-header {
  margin-bottom: 75px;
}*/

/* Блок карта */
.map {
  display: flex;
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 40px;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}


.adress {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 199px;
  margin-top: 61px;
  
  background-color: #fefefe;
  color: #4d4d4d;

  padding: 50px;
  padding-bottom: 48px;
  padding-right: 40px;
  margin-left: 45px;
  position: absolute;
  
  left: 41px;
  bottom: 51px;

  height: fit-content;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.adress-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.adres-info {
  font-size: 18px;
  line-height: 30px;
  color: #a6a6a6;
}

/* - Catalog - */
/* - Form - */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.max-price {
  text-align: right;
}

/* Filter */

.filter-radio-option {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 50px;
  border: none;
}

.filter-radio-option legend{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-radio-option ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ababab;
}

.filter-checkbox-option legend{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-checkbox-option ul{
  padding: 0;
  margin: 0;
  list-style: none;
  color: #ababab;
}

.filter-option {
  margin-top: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;

  top: -4px;;
  left: -36px;

  border: 2px solid #ababab ;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 27px;
  height: 23px;

  top: 0;
  left: -36px;

  background-image: url(../img/checkbox-on2.png);
  background-position: 0 0;
}

.filter-option input {
  display: none;
}

.filter-input-radio + label::before{
  content: "";

  position: absolute;

  width: 23px;
  height: 23px;

  left: -37px;
  top: -4px;

  border: 3px solid #ababab;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;

  width: 15px;
  height: 15px;
  left: -30px;
  top: 3px;

  background-color: #ababab;
  border-radius: 50%;
}

.filter-button {
  margin-top: 50px;
  background-color: #eeeeee;
  color: #000000;
  font-weight: 700;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus {
  background-color: #d5d5d5;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.filters {
  width: 300px;
}

.catalog {
  width: 820px;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
  margin-right: 20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  list-style: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  border-radius: 3px;
  text-transform: uppercase;

  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-iten a:focus,
.pagination-item a:active {
  background-color: #dfdfdf;
  font-weight: 700;
}

.pagination-item-current a {
  color: #000000;
  background-color: white;
  border: 3px solid #dbdbdb;
  padding: 7px 16px;
  border-radius: 3px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: #dfdfdf;
  font-weight: 700;
}

.preview-top-bar {
  width: 360px;
  height: 40px;
  background-color: #eeeeee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.preview-top-bar span {
  display: flex;
  flex-wrap: wrap;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  margin-top: 12px;
}

.preview-cost {
  width: 360px;
  height: 230px;
  background-color:#eeeeee;
  position: absolute;
  bottom: 0;
  text-align: center;
  display: none;
}

.preview-cost .button {
  margin: 0 auto;
}

.preview-cost h3 {
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 0;
}

.preview-cost p {
  color: #ababab;
}

.catalog-item:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .preview-cost {
  display: block;
}

.catalog-item:hover .preview-top-bar {
  background-color: darkgrey;
}

.span-size {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-left: 15px;
  margin-top: 10px;
}

.catalog-title {
  width: 100%;
  height: 235px;
  background-color: #eeeeee;
}

.catalog-title h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  margin-left: 310px;
  margin-top: 0;
  padding-top: 70px;
}

.sort-list-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-right: 300px;
}

.sort-list span {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ababab;
}
.sort-list-items .sort-list-current {
  color: #000000;
}

.sort-list {
  display: flex;
}

.sort-list-items img {
  margin-bottom: 3px;
}

.sort-list-items {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-right: 82px;
}

/* ------ */

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 260px;

  list-style: none;
  align-items: center;
  margin-bottom: 40px;
}

.footer-social li {
  width: 80px;
  height: 80px;

  background-color: #e5e0e0;
  border-radius: 50%;
  cursor: pointer;
}

.footer-vk a {
  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 40%;
  display: block;
  width: 26px;
  height: 15px;
  cursor: pointer;
}

.footer-fb a {
  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 36%;
  display: block;
  width: 12px;
  height: 22px;
  cursor: pointer;
}

.footer-inst a {
  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  margin-top: 36%;
  display: block;
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.footer-social li:hover {
  background-color: #e74246;
}

.footer-social li:focus {
  background-color: #d7373b;
  opacity: 0.3;
}


.footer-text {
  width: 560px;
  margin-left: 140px;
 
}

.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 17px;
}



.footer-info {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 80px;
}

.footer-date {
  display: flex;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* Modal window */

.modal {
  display: block;
}

.modal-answer {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  background-color: #f8f7f4;
  color: black;
  font-weight: 400px;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 9;
}

.hide-text {
  display: none;
  border: 0;
}

.modal-fieldset {
  border: 0;
  padding-left: 77px;
}

.modal-fieldset p {
  margin: 0;
  margin-left: 25px;
  margin-right: 308px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.button-fielsd {
  margin-left: 24px;
  margin-top: 35px;
}

.position-form {
  display: flex;
  flex-wrap: wrap;
}

.position-form-p {
  display: flex;
}

.modal-answer h2 {
  font-size: 45px;
  font-weight: 700;
  margin-top: 82px;
  margin-left: 100px;
}

.modal-close {
  position: absolute;
  top: 46px;
  right: 42px;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';

  position: absolute;

  width: 19px;
  height: 3px;

  top: 6px;
  left: -1px;

  background-color: #e74246;
  opacity: 0.4;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}



.modal-answer input[type='text'],
.modal-answer input[type='email'] {
  padding: 13px 13px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 16px;
  width: 360px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.modal-answer textarea {
  width: calc(100% - 95px);
  height: 154px;
  margin-left: 24px;
  margin-right: 24px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  padding: 13px;
}

.modal-answer .btn {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 22px;
  margin-top: 22px;
}

.modal+.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-answer input:hover,
.modal-answer textarea:hover {
  border: solid 1px rgba(154, 154, 154, .90);
}

input:hover {
  border: solid 1px rgba(154, 154, 154, .90);
}

.login input:hover {
  border: solid 1px rgba(154, 154, 154, .90);
}